*.o
moc*cpp
*.db
doc/Makefile
unittest/Makefile
Makefile
src/Makefile
.*~
doc/html/
schema/db_consts.cpp
schema/db_consts.h
schema/postnr.utf8
schema/postnr.utf8.csv
src/SnowStuffForHire.bin
src/SnowStuffForHire_da_DK.qm
src/qrc_SnowStuffForHire.cpp
src/uics/
unittest/unittest
unittest/unittest.log

